.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  background-color: #333;
  color: aliceblue;
  font-family: sans-serif;
}
.button {
  background-color: #4caf50;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}
